<mat-toolbar class="app-bar position-sticky top-0 shadow-lg">
    <button mat-icon-button class="rounded-circle my-auto mx-2" (click)="places.scrollBy({'left': -96, 'top': 0})">
        <mat-icon class="my-auto">keyboard_arrow_left</mat-icon>
    </button>
    <div #places class="d-flex container p-0 py-2 my-auto">
        <button mat-flat-button *ngFor="let city of cities; index as i" class="mx-3 px-4 rounded-pill" [ngClass]="{'active': i === active, 'shadow-sm': i === active, 'fw-bold': i === active}" style="width: fit-content; min-width: fit-content;" (click)="active = i">
            <span>{{city}}</span>
        </button>
    </div>
    <button mat-icon-button class="rounded-circle my-auto mx-2" color="primary" (click)="places.scrollBy({'left': 96, 'top': 0})">
        <mat-icon class="my-auto">keyboard_arrow_right</mat-icon>
    </button>
</mat-toolbar>
<main class="d-flex container flex-column p-0">
    <div class="d-flex flex-wrap w-100 my-sm-auto py-sm-5">
        <div class="d-flex flex-column col-12 col-sm-12 col-md-5 col-lg-4 my-sm-4 my-md-0 px-2 px-sm-3 py-5 sws-stats__today">
            <div class="d-flex mx-auto py-3">
                <p class="mat-subheading-1 my-auto">{{today | date:'E, LLL d YYYY'}}</p>
                <!-- <button mat-icon-button class="rounded-pill me-auto">
                    <mat-icon class="my-auto">arrow_drop_down</mat-icon>
                </button> -->
            </div>

            <div class="d-flex w-100 mx-auto my-3">
                <button mat-icon-button class="rounded-circle my-auto mx-2">
                    <mat-icon class="my-auto">keyboard_arrow_left</mat-icon>
                </button>

                <div class="d-flex flex-column w-100">
                    <img class="mx-auto" src="https://storage.googleapis.com/whizyrel-public/cloud.png" alt="weather-image" style="width: 124px;">

                    <div class="d-flex mx-auto mb-1">
                        <p class="mat-display-3 mb-0">32</p>
                        <sup class="mat-headline me-auto mt-2 mb-auto text-uppercase">&deg;c</sup>
                    </div>
                </div>

                <button mat-icon-button class="rounded-circle my-auto ms-2 me-auto">
                    <mat-icon class="my-auto">keyboard_arrow_right</mat-icon>
                </button>
            </div>
            
            <p class="mat-h6 mx-auto my-3 py-3 text-uppercase" style="letter-spacing: 5px;">temperature</p>

            <button mat-stroked-button class="mx-auto my-3 px-4 px-sm-5 py-1 rounded-pill" style="width: fit-content; border-color: white;">
                <span class="mat-h5 mx-auto">Partly Cloudly</span>
            </button>
        </div>

        <div class="d-flex flex-column col-12 col-sm-12 col-md-7 col-lg-8 px-3 px-md-4 py-5 py-sm-0 sws-analytics">
            <mat-form-field class="w-50 my-0 ms-auto" appearance="outline">
                <mat-label>Interval</mat-label>
                <mat-select required>
                  <mat-option selected *ngFor="let option of [1,2,3,4]; index as i" [value]="option">
                    Today
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex w-100 mb-4">
                <apx-chart class="w-100" [series]="options.series" [chart]="options.chart" [xaxis]="options.xaxis" [yaxis]="options.yaxis" [dataLabels]="options.dataLabels" [fill]="options.fill" [grid]="options.grid" [stroke]="options.stroke" [states]="options.states" [colors]="options.colors" [markers]="options.markers" [tooltip]="options.tooltip"></apx-chart>
            </div>

            <mat-button-toggle-group class="mb-3 rounded-pill shadow-sm" color="primary" style="width: fit-content; border: 0!important;">
                <mat-button-toggle class="px-4 bg-transparent" value="c" style="border: 0!important; color: inherit;">
                    &deg;C
                </mat-button-toggle>
                <mat-button-toggle class="px-4 bg-transparent" value="f" style="border: 0!important; color: inherit;">&deg;F</mat-button-toggle>
                <mat-button-toggle class="px-4 bg-transparent" value="k" style="border: 0!important; color: inherit;">K</mat-button-toggle>
            </mat-button-toggle-group>

            <div matRipple *ngFor="let item of [1,2,3,4,5,6,7]; index as i; first as isFirst; last as isLast" class="d-flex w-100 my-2 px-3 py-2 sws-week__history rounded-3" [ngClass]="{'mt-0': isFirst, 'mb-0': isLast}" style="cursor: pointer;">
                <div class="d-flex flex-column my-auto">
                    <span class="mat-subheading-1 p-0 m-0">Monday</span>
                    <span class="mat-h5 p-0 m-0">{{getDate() | date:'longDate'}}</span>
                </div>

                <button mat-icon-button class="ms-auto my-auto p-2 rounded-circle">
                    <mat-icon class="m-auto" color="primary">wb_sunny</mat-icon>
                </button>

                <p class="mat-subheading-1 ms-2 my-auto">32</p>
                <p class="mat-subheading-1 my-auto me-2">&deg;C</p>
            </div>
        </div>
    </div>
</main>
