<mat-toolbar class="app-bar position-sticky top-0 shadow-lg">
    <button mat-icon-button class="rounded-circle my-auto mx-2" (click)="places.scrollBy({'left': -96, 'top': 0})">
        <mat-icon class="my-auto">keyboard_arrow_left</mat-icon>
    </button>
    <div #places class="d-flex container p-0 py-2 my-auto">
        <button mat-flat-button *ngFor="let city of cities; index as i" class="mx-3 px-4 rounded-pill" [ngClass]="{'active': i === active, 'shadow-sm': i === active, 'fw-bold': i === active}" style="width: fit-content; min-width: fit-content;" (click)="active = i">
            <span>{{city}}</span>
        </button>
    </div>
    <button mat-icon-button class="rounded-circle my-auto mx-2" color="primary" (click)="places.scrollBy({'left': 96, 'top': 0})">
        <mat-icon class="my-auto">keyboard_arrow_right</mat-icon>
    </button>
</mat-toolbar>
<main class="d-flex container flex-column p-0">
    <div class="d-flex flex-wrap w-100 my-sm-auto py-sm-5">
        <div class="d-flex flex-column col-12 col-sm-12 col-md-5 col-lg-4 my-sm-4 my-md-0 px-2 px-sm-3 py-5 sws-stats__today">
            <div class="d-flex mx-auto py-3">
                <p class="mat-subheading-1 my-auto">{{today | date:'E, LLL d YYYY'}}</p>
                <button mat-icon-button class="rounded-pill ms-1 me-auto">
                    <mat-icon class="my-auto">arrow_drop_down</mat-icon>
                </button>
            </div>

            <ng-container>
                <div class="d-flex w-100 mx-auto my-3">
                    <button mat-icon-button class="rounded-circle my-auto mx-2" (click)="previousStat()">
                        <mat-icon class="my-auto">keyboard_arrow_left</mat-icon>
                    </button>

                    <div class="d-flex flex-column w-100">
                        <img class="mx-auto mb-3" src="{{currentStat?.link}}" alt="weather-image" style="width: 124px; height: 124px; object-fit: contain; object-position: 50%;">

                        <div class="d-flex mx-auto">
                            <p class="mat-display-2 mb-0">{{convertNumber(currentStat?.value, 2)}}</p>
                            <sup class="mat-headline me-auto mt-2 mb-auto" [innerHtml]="currentStat?.unit"></sup>
                        </div>
                    </div>

                    <button mat-icon-button class="rounded-circle my-auto ms-2 me-auto" (click)="nextStat()">
                        <mat-icon class="my-auto">keyboard_arrow_right</mat-icon>
                    </button>
                </div>
                
                <p class="mat-h6 mx-auto my-3 py-3 text-uppercase text-center" style="letter-spacing: 5px;">{{currentStat?.title}}</p>
            </ng-container>

            <button mat-stroked-button class="mx-auto my-3 px-4 px-sm-5 py-1 rounded-pill" style="width: fit-content; border-color: white;">
                <span class="mat-h5 mx-auto">Partly Cloudly</span>
            </button>
        </div>

        <div class="d-flex flex-column col-12 col-sm-12 col-md-7 col-lg-8 px-3 px-md-4 py-5 py-sm-0 sws-analytics">
            <mat-form-field class="w-50 my-0 ms-auto" appearance="outline">
                <mat-label>{{defaultIntervalText}}</mat-label>
                <mat-select [formControl]="intervalControl">
                  <mat-option *ngFor="let option of intervals; index as i" [value]="option.name" (click)="setApiInterval(option.apiInterval)">{{option.name}}</mat-option>
                  <mat-option (click)="openCustomIntervalPicker(picker)">
                    Custom
                    <!-- <input class="d-flex w-100 h-100" style="display: none!important; visibility: hidden;" matInput [matDatepicker]="picker"> -->
                    <!-- <mat-datepicker touchUi #picker></mat-datepicker> -->
                    <mat-date-range-input [rangePicker]="picker" style="display: none!important; visibility: hidden;">
                        <input class="d-flex w-100 h-100" style="display: none!important; visibility: hidden;" matStartDate placeholder="Start date" (dateChange)="dateRangeChange($event, 'start')">
                        <input class="d-flex w-100 h-100" style="display: none!important; visibility: hidden;" matEndDate placeholder="End date" (dateChange)="dateRangeChange($event, 'end')">
                    </mat-date-range-input>
                    <mat-date-range-picker touchUi #picker>
                        <mat-date-range-picker-actions>
                            <button mat-button matDateRangePickerCancel class="px-4 py-1 rounded-pill">Cancel</button>
                            <button mat-raised-button class="px-4 py-1 rounded-pill" color="primary" matDateRangePickerApply>Apply</button>
                        </mat-date-range-picker-actions>
                    </mat-date-range-picker>
                  </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="d-flex w-100 mb-4">
                <apx-chart class="w-100" [series]="options.series" [chart]="options.chart" [xaxis]="options.xaxis" [yaxis]="options.yaxis" [dataLabels]="options.dataLabels" [fill]="options.fill" [grid]="options.grid" [stroke]="options.stroke" [states]="options.states" [colors]="options.colors" [markers]="options.markers" [tooltip]="options.tooltip"></apx-chart>
            </div>

            <mat-button-toggle-group class="mb-3 rounded-pill shadow-sm" color="primary" style="width: fit-content; border: 0!important;" [value]="target.weekly" (change)="targetChanged($event, 'weekly')">
                <mat-button-toggle selected class="px-4 bg-transparent mat-caption" value="c" style="border: 0!important; color: inherit;">&deg;C</mat-button-toggle>
                <mat-button-toggle class="px-4 bg-transparent mat-caption" value="h" style="border: 0!important; color: inherit;">RH</mat-button-toggle>
                <mat-button-toggle class="px-4 bg-transparent mat-caption" value="hi" style="border: 0!important; color: inherit;">H.I</mat-button-toggle>
                <mat-button-toggle class="px-4 bg-transparent mat-caption" value="dp" style="border: 0!important; color: inherit;">DWPNT</mat-button-toggle>
            </mat-button-toggle-group>

            {{apiInterval}}
            <ng-container *ngIf="weeklyData && weeklyData.length > 0; else noWeeklyData;">
                <div matRipple *ngFor="let item of weeklyData; index as i; first as isFirst; last as isLast" class="d-flex w-100 my-2 px-3 py-2 sws-week__history rounded-3" [ngClass]="{'mt-0': isFirst, 'mb-0': isLast}" style="cursor: pointer;">
                    <div class="d-flex flex-column my-auto">
                        <span class="mat-subheading-1 p-0 m-0">{{getDate(item[1]) | date:'EEEE'}}</span>
                        <span class="mat-h5 p-0 m-0">{{item[1] | date:'longDate'}}</span>
                    </div>
    
                    <button mat-icon-button class="ms-auto my-auto p-2 rounded-circle">
                        <mat-icon class="m-auto" color="primary">wb_sunny</mat-icon>
                    </button>
    
                    <p class="mat-subheading-1 ms-2 my-auto">{{convertNumber(item[0], 2)}}</p>
                    <p class="mat-subheading-1 my-auto me-2" [innerHtml]="dataSymbols[target.weekly]"></p>
                </div>
            </ng-container>

            <ng-template #noWeeklyData>
                <div class="d-flex flex-column w-100 py-5">
                    <!-- TODO add vector for no data -->
                    <span class="mat-body m-auto">No Weekly Data Available</span>
                </div>
            </ng-template>
        </div>
    </div>
</main>
