// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$siwes-primary: mat-palette($mat-indigo);
$siwes-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$siwes-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$siwes-theme: mat-light-theme((
  color: (
    primary: $siwes-primary,
    accent: $siwes-accent,
    warn: $siwes-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($siwes-theme);

@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");

/* You can add global styles to this file, and also import other style files */
@mixin no-outline {
  outline: none !important;
  outline-style: none !important;
}

@mixin normalize-anchor {
  text-decoration: none !important;
  color: inherit !important;

  &:hover {
    color: auto !important;
    text-decoration: none !important;
  }
}

body {
  width: 100vw;
  overflow: hidden auto;

  a {
    @include normalize-anchor();
  }
    
  input, textarea {
    @include no-outline();
  }
  
  textarea {
    resize: none!important;
  }
}

div.apexcharts-tooltip {
  background: transparent!important;
  border-radius: unset;
  box-shadow: none!important;
  border: 0!important;

  div.custom-tooltip.rounded-pill {
    background-color: map.get($siwes-primary, 'default');
    color: map.get($siwes-primary, 'default-contrast');
    
    span {
      border-radius: inherit;
    }
  }
}
